<%= form_tag "/national_news_search", method: :get %>
<%= text_field_tag :query %>
<%= submit_tag "Search" %>

<% if @response %>
  <% @response.each do |element| %>

    <h1>
      <%= element["title"] %>
    </h1>

    <p>
      <%= element["description"] %>
    </p>

    <img src=<%= element["url_to_image"] %>/>

  <% end %>
<% end %>
